*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
build/
**/build/

# Built application packages & signatures
*.apk
*.aab
*.ap_
*.idsig
*.sha256

# Kotlin & Gradle cache
.kotlin/
.gradle/

# Keystores & sensitive keys
*.jks
*.keystore

# OS & IDE
Thumbs.db
.idea/
